
  	<% if user_signed_in? %>
  		<div class="container">
  		<% @users.each do |user| %>
  			<div class="row">
  				<div class="span2">
  				</div>
  				<div class="span8">
  					<div class="row">
  						<h2 class="pull-left"><%= link_to user.name, '#' %></h2>
  					</div>
  				</div>
  			</div>
  	<% end %>
  		</div>

  	<% else %>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">home</a></li>
          <li><a href="#2" data-toggle="tab">surprise me!</a></li>
        </ul>
        <div class="tab-content">
          <%= render 'home_tab_1'%>
          <%= render 'home_tab_2'%>
        </div>
      </div>       
  	<% end %>

<% unless user_signed_in? %>
  <div class="center hero-unit">      
    <h2>all your data | made simple | in your control</h2>  
  </div>
<% end %>  




       


