<div class="center hero-unit">
  <h1>your key - your stuff</h1>

  <h2>
    work is in progress!
  </h2>

  <%= link_to "sign up", new_user_registration_path, class: "btn btn-large btn-primary" %><%= " or " %> 
  <%= link_to "sign in", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>

