<% full_title "upload file" %>
<%= render :partial => "pages/breadcrumbs" %>  
<%= render 'form' %>  
<p>  
<% if @asset.folder %>  
   <%= link_to @asset.folder.name, browse_path(@asset.folder) %>  
<% else %>  
   <%= link_to "Back", root_url %>  
<% end %>  
</p>