@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}



/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 5px;	
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	decoration: none;

	&:hover {
		color: #fff;
		text-decoration: none;	
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #555;

	a {
		color: #555;

		&:hover {
			color: #222;		
		}
	}

	small {
		float: left;	
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.well {
	background-color: #E6E6B8;

	label {
		font-weight: bold;
		display: block;
	}

}

/* file and assets */
.asset_list_header, .asset_list, .asset_details {  
    width:800px;  
    font-weight:bold;  
    font-size:12px;  
    overflow:hidden;  
  
}  
.file_name_header, .file_name {  
    width:350px;  
    float:left;  
    padding-left:20px;  
}  
.file_size_header, .file_size {  
    width:100px;  
    float:left;  
}  
.file_last_updated_header, .file_last_updated {  
    width:150px;  
    float:left;  
}  
.asset_list {  
    padding:20px 0;  
}  
.asset_details {  
    font-weight:normal;  
    height:25px;  
    line-height:25px;  
    border:1px solid #FFF;  
    width:790px;  
    color:#4F4F4F;  
}  
  
.asset_details a, .asset_details a:visited {  
    text-decoration:none;  
    color:#1D96EF;  
    font-size:12px;  
}  