<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "my key", root_path, class: "brand" %>
      <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
      <% if user_signed_in? %>
        <%= render 'layouts/header_user_btn' %>
      <% else %>
        <%= render 'layouts/header_default_btn' %>
      <% end %>
    </div>
  </div>
</div>